version: '3.8'

services:
  # --- Dev Application ---
  mtg-library-dev:
    build:
      context: .
      args:
        - VITE_FIREBASE_API_KEY=${VITE_FIREBASE_API_KEY}
        - VITE_FIREBASE_AUTH_DOMAIN=${VITE_FIREBASE_AUTH_DOMAIN}
        - VITE_FIREBASE_PROJECT_ID=${VITE_FIREBASE_PROJECT_ID}
        - VITE_FIREBASE_STORAGE_BUCKET=${VITE_FIREBASE_STORAGE_BUCKET}
        - VITE_FIREBASE_MESSAGING_SENDER_ID=${VITE_FIREBASE_MESSAGING_SENDER_ID}
        - VITE_FIREBASE_APP_ID=${VITE_FIREBASE_APP_ID}
        - VITE_FIREBASE_MEASUREMENT_ID=${VITE_FIREBASE_MEASUREMENT_ID}
    image: mtg-library-dev:latest
    container_name: mtg-library-dev
    restart: always
    ports:
      - "3004:3000" # Host Port 3004
    environment:
      - NODE_ENV=production
      - PORT=3000
      - DATABASE_URL=postgres://admin:Pass4Kincaid!@postgres-dev:5432/mtg_postgres_db_dev
      - PUBLIC_URL=https://dev.mtg-forge.com
      - VITE_FIREBASE_API_KEY=${VITE_FIREBASE_API_KEY}
      - VITE_FIREBASE_AUTH_DOMAIN=${VITE_FIREBASE_AUTH_DOMAIN}
      - VITE_FIREBASE_PROJECT_ID=${VITE_FIREBASE_PROJECT_ID}
      - VITE_FIREBASE_STORAGE_BUCKET=${VITE_FIREBASE_STORAGE_BUCKET}
      - VITE_FIREBASE_MESSAGING_SENDER_ID=${VITE_FIREBASE_MESSAGING_SENDER_ID}
      - VITE_FIREBASE_APP_ID=${VITE_FIREBASE_APP_ID}
      - VITE_FIREBASE_MEASUREMENT_ID=${VITE_FIREBASE_MEASUREMENT_ID}
    volumes:
      - ./serviceAccountKey.json:/app/serviceAccountKey.json
    depends_on:
      - postgres-dev
    networks:
      - dev-network

  # --- Dev Database ---
  postgres-dev:
    image: postgres:latest
    container_name: postgres-dev
    ports:
      - "6470:5432" # Exposed on NAS port 6470
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: Pass4Kincaid!
      POSTGRES_DB: mtg_postgres_db_dev
    volumes:
      # Relative path for portability. This creates a folder 'postgres_data_dev' next to this file.
      # Mounting to /var/lib/postgresql helps avoid "directory not empty" errors on NAS (due to @eaDir etc)
      # Postgres will create a 'data' subfolder inside this.
      - ./postgres_data_dev:/var/lib/postgresql
    networks:
      - dev-network
    restart: unless-stopped

  # --- Dev Config for Cloudflare ---
  cloudflared-dev:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared-dev
    command: tunnel --no-autoupdate run --token eyJhIjoiMmNhODZkNjRiYTYwNWExNjFiNDBlNGQ2ZGQ3NGFkYWUiLCJ0IjoiYTE2YjIxZWEtN2Y2YS00NTA4LWE2NDQtZTVkYzY3ZjhkM2RkIiwicyI6Ik5HRmtPVEV4T0dNdE1tVTBZeTAwWlRCbExUaGxaV0V0T1RabU1ERmhOVEJqWTJSayJ9
    networks:
      - dev-network
    restart: unless-stopped

networks:
  dev-network:
    name: dev-network
